<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.retni.applacegps"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>	
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.VIBRATE"/>	

	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
 
	<!--
	  IMPORTANT: Change "com.parse.tutorials.pushnotifications.permission.C2D_MESSAGE" in the lines below
	  to match your app's package name + ".permission.C2D_MESSAGE".
	-->
	<permission android:protectionLevel="signature"
	    android:name="com.retni.applacegps.permission.C2D_MESSAGE" />
	<uses-permission android:name="com.parse.tutorials.pushnotifications.permission.C2D_MESSAGE" />
	
	<!-- replace @drawable/push_icon with your push icon identifier -->
	<meta-data android:name="com.parse.push.notification_icon" android:resource="@drawable/ic_launcher_applace"/>
	
	<uses-feature
		android:glEsVersion="0x00020000"
		android:required="true"/>
	
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/Theme.Applace_tab" >

        <activity
            android:name="com.retni.applacegps.SplashScreenActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.retni.applacegps.MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.retni.applacegps.Logueado"
             android:configChanges="orientation|keyboardHidden|screenSize"            >
            
        </activity>
        <activity
            android:name="com.retni.applacegps.Activity_iniciarSesion">
        </activity>
        <activity
            android:name="com.retni.applacegps.Activity_detalleFoto">
        </activity>
        <activity
            android:name="com.retni.applacegps.Activity_registro">
        </activity>
        <activity
            android:name="com.retni.applacegps.Activity_filtro">
        </activity>
        <activity
            android:name="com.retni.applacegps.Activity_perfil">
        </activity>
        <activity
            android:name="com.retni.applacegps.Mostrar_Estadistica"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.retni.applacegps.Activity_caracteristicas">
        </activity>
        <service android:name="com.backendless.AndroidService"/>
 		<activity
            android:name="com.retni.applacegps.logindeface">
        </activity>
        <activity
            android:name="com.retni.applacegps.UserDetailsActivity">
        </activity>
        <activity
            android:name="com.retni.applacegps.LoginActivity"
            android:label="@string/app_name">
        </activity>       
        <activity
            android:name="com.retni.applacegps.Activity_listaComentarios">
        </activity> 
        <activity
            android:name="com.retni.applacegps.Activity_disp">
        </activity> 
        
		<activity android:name="com.facebook.LoginActivity"
                  android:label="@string/app_name" />
        <meta-data android:name="com.facebook.sdk.ApplicationId" 
            android:value="@string/app_id"/>
        <activity
            android:name="com.retni.applacegps.compartirface">
        </activity>
        <activity
            android:name="com.retni.applacegps.Activity_verAlojamiento">
        </activity>
        <activity
            android:name="com.retni.applacegps.Activity_conversacion">
        </activity>
        <activity
            android:name="com.retni.applacegps.Activity_tabmensajes">
        </activity>
        <activity
            android:name="com.retni.applacegps.Activity_tabFiltros">
        </activity>
        <activity
            android:name="com.retni.applacegps.Activity_mensajes">
        </activity>
        <activity
            android:name="com.retni.applacegps.Enviados">
        </activity>
        <activity
            android:name="com.retni.applacegps.Recibidos">
        </activity>
        <activity
            android:name="com.retni.applacegps.Activity_verMensaje">
        </activity>
        <activity
            android:name="com.retni.applacegps.Compartir">
        </activity>
        <activity
            android:name="com.retni.applacegps.Activity_crearMen">
        </activity>
        <activity
            android:name="com.retni.applacegps.transicion">
        </activity>        
        
        <meta-data android:name="com.google.android.maps.v2.API_KEY"
			android:value="AIzaSyAXu2eBIfc_-L6qMd7e8YNFozLNVvOLDVo"/>
        <meta-data android:name="com.google.android.gms.version" 
            android:value="@integer/google_play_services_version" />
        
        <service android:name="com.parse.PushService" />
		<receiver android:name="com.parse.ParseBroadcastReceiver">
		  <intent-filter>
		    <action android:name="android.intent.action.BOOT_COMPLETED" />
		    <action android:name="android.intent.action.USER_PRESENT" />
		  </intent-filter>
		</receiver>
		<receiver android:name="com.parse.GcmBroadcastReceiver"
		    android:permission="com.google.android.c2dm.permission.SEND">
		  <intent-filter>
		    <action android:name="com.google.android.c2dm.intent.RECEIVE" />
		    <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
		 
		    <!--
		      IMPORTANT: Change "com.parse.tutorials.pushnotifications" to match your app's package name.
		    -->
		    <category android:name="com.retni.applacegps" />
		  </intent-filter>
		</receiver>
		<receiver android:name="com.parse.ParsePushBroadcastReceiver" android:exported="false">
		  <intent-filter>
		    <action android:name="com.parse.push.intent.RECEIVE" />
		    <action android:name="com.parse.push.intent.DELETE" />
		    <action android:name="com.parse.push.intent.OPEN" />
		  </intent-filter>
		</receiver>        
    </application>    

</manifest>
